
<div class="container mt-5">
  <div class="row">
    <div class="col-12" *ngFor="let message of inBox">
      <div class="messageContainer my-3">
      <div class="card-body">
        <div class="headerContainer">
          <div class="row">
            <div class="col-8">
                <h3 class="messageHeader mx-3 py-3">
                    {{ message.title }}
                    <!-- <span *ngIf="!message.leido" class="badge badge-secondary">New </span> -->
                    
                  </h3>
            </div>
            <div class="col-4 d-flex justify-content-end">
                <button
                type="button"
                class="btn btn-outline-danger mx-3 my-3 "
                (click)="deleteMessage(message.id)"
              >
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        
      </div>

        <div class="alert alert-primary py-3" role="alert">{{ message.body }}</div>
        <div class="row">
          <div class="col-12 col-md-6 text-center">
            <p class="ml-5">
              <b>From:</b>  <a routerLink="/user/profile/{{ message.user }}"
              >  {{ message.user }}</a>
              <button
                type="button"
                class="btn btn-outline-dark ml-3"
                (click)="replyMessage(message.user, message.id)"
                data-toggle="modal"
                data-target="#modalMail"
              >
                Responder a {{ message.user }}
              </button>
            </p>
          </div>
          <div class="col-12 col-md-6"><b>recibido el dia:</b> {{ message.date }}</div>
        </div>
      </div>
    </div>
    <hr>
    </div>
  </div>
</div>
<app-mail-modal
  [userName]="response.user"
  [userId]="response.id"
></app-mail-modal>
