
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary gradientDark">
  <a class="navbar-brand" routerLink="/">{{app_name}}</a>
    <h2 *ngIf="authService.logged== true" class="greeting mx-1">Hola {{authService.user.name}}</h2>
    <a *ngIf="authService.logged== true" class="suggestion" (click)="suggestion()"><i class="fas fa-question-circle"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mainNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="!authService.logged== true">
        <a class="nav-link" routerLink="register">Registro
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.logged== true">
          <form class="form-inline my-2 my-lg-0">
              <input id="search" class="form-control mr-sm-2" type="search" placeholder="Nombre Usuario" aria-label="Nombre Usuario">
              <button class="btn btn-outline-light my-2 my-sm-0" (click)="searchUserByName()">Buscador</button>
            </form>
      </li>
      <li class="nav-item" *ngIf="authService.admin">
        <a class="nav-link" routerLink="/admin">Panel Administrador
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.logged== true">
          <a class="nav-link" routerLink="/user/mainFeed">Muro
          </a>
        </li>
      <li class="nav-item" *ngIf="authService.logged== true">
        <a class="nav-link" routerLink="/user/profile/{{authService.user.name}}">Perfil</a>
      </li>
      <li class="nav-item" *ngIf="authService.logged== true">
          <a class="nav-link" routerLink="/user/inBox">Mis mensajes</a>
        </li>
      <li class="nav-item" *ngIf="authService.logged== true">
        <a class="nav-link" routerLink="/user/comunidades">Comunidades</a>
      </li>
      <li class="nav-item" *ngIf="!authService.logged== true">
        <a class="nav-link" routerLink="login">Login
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.logged== true">
        <a href="#" class="nav-link" (click)="onLogout()">Logout
        </a>
      </li>
    </ul>
  </div>
</nav>
