<div class="wrapper">
<div class="container-fluid mt-5 text-center">
  <h1 #top class="text-center mb-5">TUS COMUNIDADES</h1>

  <div *ngIf="empty==true" class="alert alert-warning alerta mx-auto" role="alert">
    No has añadido ninguna Comunidad
    <br>
    Haz clic en el botón de abajo
    <br>
    <i class="fas fa-arrow-alt-circle-down"></i> 
  </div>

  <div class="row mb-5">
    <div class="col-12 col-md-4 categoria px-3 pb-3" *ngFor="let category of MyCategories">
      <div class="text-center m-5"><button type="button" class="btn btn-dark btn-sombra" (click)="removeMyCategory(category.titulo)"><i class="fas fa-arrow-alt-circle-down"></i> Eliminar {{category.titulo}} de mis Comunidades</button></div>
      <a (click)="setCategoria()" routerLink="../mainFeed">
        <div class="child sombra3" [style.background-image]="'url(' + category.ruta + ')'">
          <span><p #asunto>{{category.titulo}}</p></span>
        </div>
      </a>
    </div>
  </div>

  <button class="btn btn-dark btn-sombra mb-5" (click)="showAllCategories()">Ver todas las Comunidades</button>

  <div *ngIf='allCategories==true'>
  <h1 class="text-center my-5">TODAS LAS COMUNIDADES</h1>

  <div class="row">
      <div class="col-12 col-md-4 categoria px-3 pb-3" *ngFor="let category of categories">
        <div class="text-center m-5"><button type="button" class="btn btn-dark btn-sombra" (click)="addMyCategory(category.titulo)"><i class="fas fa-arrow-alt-circle-down"></i> Añadir {{category.titulo}} a mis Comunidades</button></div>
        <a (click)="setCategoria()" routerLink="../mainFeed">
          <div class="child sombra3" [style.background-image]="'url(' + category.ruta + ')'">
            <span><p #asunto>{{category.titulo}}</p></span>
          </div>
        </a>
      </div>
    </div>

    <a class="btn btn-outline-dark btn-sombra my-5" (click)="scrollToElement(top)"><i class="fas fa-level-up-alt"></i></a>



  </div>
    
  
</div>
</div>

