<div class="container-fluid mt-5 text-center">

  <h1 class="text-center mb-5">Tus Categorías</h1>
  <div class="row mb-5">
    <div class="col-4 categoria px-3">
      <a routerLink='../mainFeed'>
      <div class="child fitness">
        <span><p>Fitness</p></span>
    </div></a></div>
    <div class="col-4 categoria">
        <a routerLink='../mainFeed'>
      <div class="child skate">
        <span><p>Skate</p></span>
      </div>
    </a>
    </div>
    <div class="col-4 categoria px-3">
        <a routerLink='../mainFeed'>
      <div class="child adventure">
          <span><p>Aventura</p></span>
      </div>
    </a></div>
  </div>

  <button type="button" class="btn btn-primary">Ver todas las categorias</button>
</div>


