<div class="wrap">
<div class="contenedor">
    <div class="card mx-auto displayPost">
        <img class="card-img-top" src="{{post.photoUrl}}" alt="{{post.title}}">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-4"><h5 class="card-title">{{post.title}}</h5></div>
            <div class="col-12 col-md-4">Posteado por :<a routerLink="/user/profile/{{post.user}}"> {{post.user}}</a></div>
            <div class="col-12 col-md-4">{{tools.dateConverter(post.date)}}</div>
          </div> 
          <hr>
          <p class="card-text">{{post.description}}</p>
          <hr>
          <p class="card-text"><i class="fas fa-heart count"></i> {{likes.count}}
              <button *ngIf="!like" type="button" class="btn btn-light onlike" (click)="onLike()"><i class="fas fa-thumbs-up"></i></button>
              <button *ngIf="like" type="button" class="btn btn-light" (click)="onLike()"><i class="fas fa-thumbs-down"></i></button>
          </p>
        </div>

        <div class="controlPanel container mb-5 text-center" *ngIf="isAdmin == true || isOwner == true; else noOwner">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target='#modalPost' (click)="onPreUpdatePost(post)">Update</button>
          <button type="submit" class="btn btn-danger mx-2" (click)="OnDeletePost(post.id)">Eliminar Post <i class="fa fa-trash" aria-hidden="true"></i></button>
        </div>

        <button class="btn btn-outline-dark my-3" type="button" data-toggle="collapse" data-target="#collapseComents" aria-expanded="false" aria-controls="collapseComents">
            Mostrar Comentarios
          </button>

          <div class="collapse" id="collapseComents">
              <div class="container coments text-center">
                <app-coments [id]="idPost"></app-coments>
              </div>
            </div>

          <a class="text-center back" routerLink="/user/mainFeed"><i class="fas fa-arrow-circle-left"></i>Volver</a>
          

        


      </div>

      

      

      <ng-template #noOwner>
          <div class="controlPanel container mb-5 d-none">
            <p>Sin Permisos</p>
            <button class="btn btn-secondary mx-2" disabled="true">Update</button>
            <button class="btn btn-secondary mx-2" disabled="true">Delete</button>
          </div>
        </ng-template>

</div>
</div>


<app-modal *ngIf="isUpdate==true" [userUid]="userUid" [isUpdate]="isUpdate"></app-modal>
<app-modal *ngIf="isUpdate==false" [userUid]="userUid"></app-modal>


