.displayPost{
    width: 100%;
}

.onlike{
    color:green;
}

.count{
    font-size: 30px;
    color:red;
}

.wrap{
    margin-top: 50px;
}


@media (min-width: 992px) { 

.contenedor{
margin:20vh;
}

.displayPost{
    width: 50%;
}
}
